* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: azure;
}
.header {
  position: sticky;
  top: 0;
  background-color: rgb(85, 82, 82);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.logo h1 {
  font-size: 25px;
  font-weight: 600;
  color: red;
}
.header .navigator {
  list-style: none;
}
.header .navigator ul li {
  display: inline-block;
  padding: 0 30px;
}
.header .navigator ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.header .navigator ul li a:hover {
  color: red;
}
.buttons button {
  padding: 10px 50px;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.imageR {
  width: 100%;
  height: 847px;
}

.Aboutus {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
video {
  width: 100%;
  height: 847px;
  object-fit: cover;
}
.contentee {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
